:root {
    --mont: 'Montserrat', sans-serif;
    --pre: 'pretendard', sans-serif;
    
    --main-color: #000;
    --main-color-3: rgba(0, 0, 0, 0.03);
    --main-color-5: rgba(0, 0, 0, 0.05);
    --main-color-10: rgba(0, 0, 0, 0.1);
    --main-color-20: rgba(0, 0, 0, 0.2);
    --main-color-30: rgba(0, 0, 0, 0.3);
    --main-color-40: rgba(0, 0, 0, 0.4);
    --main-color-50: rgba(0, 0, 0, 0.5);
    --main-color-60: rgba(0, 0, 0, 0.6);
    --main-color-70: rgba(0, 0, 0, 0.7);
    --main-color-80: rgba(0, 0, 0, 0.8);
    --main-color-90: rgba(0, 0, 0, 0.9);
    --main-color-95: rgba(0, 0, 0, 0.95);
    
    --bg-color: #FFF;
    --bg-color-3: rgba(255, 255, 255, 0.03);
    --bg-color-5: rgba(255, 255, 255, 0.05);
    --bg-color-10: rgba(255, 255, 255, 0.1);
    --bg-color-20: rgba(255, 255, 255, 0.2);
    --bg-color-30: rgba(255, 255, 255, 0.3);
    --bg-color-40: rgba(255, 255, 255, 0.4);
    --bg-color-50: rgba(255, 255, 255, 0.5);
    --bg-color-60: rgba(255, 255, 255, 0.6);
    --bg-color-70: rgba(255, 255, 255, 0.7);
    --bg-color-80: rgba(255, 255, 255, 0.8);
    --bg-color-90: rgba(255, 255, 255, 0.9);

    --window-control-bg: #F8F8F7;
    --window-control-2-bg: transparent;

    --tooltip-text: #FFFFFF;

    --border-color: rgba(0, 0, 0, 0.05);

    --button-bg: #FFFFFF;
    --button-hover-color: rgba(0, 0, 0, 0.03);
    --button-hover-2-color: rgba(255, 255, 255, 0.1);
    --button-active-color: rgba(0, 0, 0, 0.05);

    --sidebar-bg: #F8F8F7;
    --sidebar-calendar-bg: rgba(255, 255, 255, 0.2);

    --shadow-color: rgba(0, 0, 0, 0.05);
    --inner-shadow-color: #FFFFFF;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none;         /* Standard */
}

.main {
    display: flex;
}

.icon {
    width: 16px;
    height: 16px;
    fill: none;
    stroke-width: 1.5px;
}

.line {
    width: 100%;
    height: 1px;
    background: var(--border-color);
}

.button-24 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: transparent;
    transition: background 0.1s ease, color 0.1s ease;
    color: var(--black-40);
    cursor: pointer;
    box-sizing: border-box;
}

.button-24:hover {
    background: var(--button-hover-color);
    color: var(--black-100);
}

.button-24:active {
    background: var(--button-active-color);
}