  .window-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--body-bg);
    height: 36px;
    width: 100%;
    border-bottom: solid 1px var(--main-color-5);
    padding-left: 16px;
    box-sizing: border-box;
    -webkit-app-region: drag;
  }

  .window-control .left {
    display: flex;
    align-items: center;
    gap: 4px;
    -webkit-app-region: no-drag;
  }

  .home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: transparent;
    transition: all 0.1s ease;
  }

  .home-button img {
    width: 20px;
    height: 11px;
    filter: grayscale(1) brightness(var(--logo-brightness));
    opacity: 1;
    transition: opacity 0.1s ease;
  }

  .sidebar-fold-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    transition: all 0.1s ease;
  }

  .sidebar-fold-button .icon {
    opacity: 0.4;
    transition: opacity 0.1s ease;
    color: var(--main-color);
  }

  .sidebar-fold-button:hover {
    background: var(--main-color-5);
  }

  .sidebar-fold-button:active {
    background: var(--main-color-10);
    scale: 0.95;
  }

  .sidebar-fold-button:hover .icon {
    opacity: 1;
  }

  .right {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
  }

  .window-control-function {
    display: flex;
    margin-right: 0px;
  }

  .window-control-wrap {
    display: flex;
  }

  .window-control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 36px;
    background: transparent;
    color: var(--main-color);
    transition: 0.1s ease;
  }

  .window-control-button:hover {
    background: var(--main-color-5);
  }

  .window-control-button:active {
    background: var(--main-color-10);
  }

    .mode-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    transition: all 0.1s ease;
  }

  .mode-toggle-button .icon {
    opacity: 0.4;
    transition: opacity 0.1s ease;
    color: var(--main-color);
  }

  .mode-toggle-button:hover {
    background: var(--main-color-5);
  }

  .mode-toggle-button:active {
    background: var(--main-color-10);
    scale: 0.95;
  }

  .mode-toggle-button:hover .icon {
    opacity: 1;
  }