<div class="header-container" id="header">
  <div class="left">
    <div class="sidebar-fold-button" id="sidebar-fold-button">
      <svg class="icon"><use href="#icon-menu"></use></svg>
    </div>
    <div class="logo">
      <img src="../../assets/image/logo.png" />
      <span>WORKBASE</span>
    </div>
  </div>
  <div class="user-dropdown">
    <div class="left">
      <svg class="icon"><use href="#icon-user"></use></svg>
      <span class="name">강현민</span>
    </div>
    <svg class="icon"><use href="#icon-down"></use></svg>
  </div>
</div>


