  <!-- sidebar.html -->

  <div class="top">
    <div class="header">
      <div class="left">
        <img src="../../assets/logo.png" />
        <span>workbase</span>
      </div>
      <div class="right">
        <button id="sidebar-fold-button" class="sidebar-fold-button">
          <svg class="icon-fold">
            <use href="../../assets/icons/icons.svg#icon-ArrowLeftDouble"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- 전체 보관함 메뉴 -->
    <div class="menu">
      <div class="wrap" style="padding: 0 4px;">
        <a href="index.html">
          <div class="item" data-tooltip="전체 보관함" data-direction="right">
            <div class="left">
              <svg class="icon-item delayed-icon-fold">
                <use href="../../assets/icons/icons.svg#icon-inbox"></use>
              </svg>
              <span>전체 보관함</span>
            </div>
          </div>
        </a>

        <!-- 오늘 할 일 메뉴 -->
        <a href="./html/today.html">
          <div class="item" data-tooltip="오늘 할 일" data-direction="right">
            <div class="left">
              <svg class="icon-item delayed-icon-fold">
                <use href="../../assets/icons/icons.svg#icon-today"></use>
              </svg>
              <span>오늘 할 일</span>
            </div>
          </div>
        </a>

        <!-- 중요 메뉴 -->

        <div class="item" data-tooltip="중요" data-direction="right">
          <div class="left">
            <svg class="icon-item delayed-icon-fold">
              <use href="../../assets/icons/icons.svg#icon-star"></use>
            </svg>
            <span>중요</span>
          </div>
        </div>

        <!-- 완료됨 메뉴 -->

        <div class="item" data-tooltip="완료됨" data-direction="right">
          <div class="left">
            <svg class="icon-item delayed-icon-fold">
              <use href="../../assets/icons/icons.svg#icon-done"></use>
            </svg>
            <span>완료됨</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 사이드바 구분선 -->

    <div class="line"></div>

    <!-- 그룹 메뉴 -->

    <div class="group-list-container"></div>

  <!-- 사이드바 하단 -->

  <div class="bottom">
    <button class="add-group-button" id="add-group">
      <svg class="icon-group delayed-icon">
        <use href="../../assets/icons/icons.svg#icon-add-group"></use>
      </svg>
      <span class="delayed-icon">그룹 추가</span>
    </button>
  </div>
