<!-- sidebar.html -->

<div class="sidebar-container" id="sidebar">
  <div class="top">
    <div class="fixed-menu-wrap">
      <!-- 고정 메뉴 -->
      <div class="fixed-menu">
        <div class="menu-button selected">
          <svg class="icon"><use href="#icon-inbox"></use></svg>
          <span>전체 보관함</span>
        </div>
        <div class="menu-button">
          <svg class="icon"><use href="#icon-calendar"></use></svg>
          <span>오늘 할 일</span>
        </div>
        <div class="menu-button">
          <svg class="icon"><use href="#icon-star"></use></svg>
          <span>중요</span>
        </div>
        <div class="menu-button">
          <svg class="icon"><use href="#icon-checked-circle"></use></svg>
          <span>완료됨</span>
        </div>
      </div>
    </div>
    <div class="line"></div>
    <div class="menu-body">
      <div class="fixed-project-menu-wrap">
        <div class="project-title">
          고정됨
          <div class="button-24 menu-fold-button">
            <svg class="icon"><use href="#icon-down"></use></svg>
          </div>
        </div>
        <div class="menu-wrap is-open">
          <div class="menu-button">
            <svg class="icon"><use href="#icon-hash"></use></svg>
            <span>고정된 프로젝트 메뉴</span>
          </div>
          <div class="menu-button">
            <svg class="icon"><use href="#icon-hash"></use></svg>
            <span>고정된 프로젝트 메뉴</span>
          </div>
          <div class="menu-button">
            <svg class="icon"><use href="#icon-hash"></use></svg>
            <span>고정된 프로젝트 메뉴</span>
          </div>
        </div>
      </div>
      <div class="project-menu-wrap">
        <div class="project-title">
          프로젝트
          <div class="menu-utilities">
            <div class="button-24">
              <svg class="icon"><use href="#icon-add"></use></svg>
            </div>
            <div class="button-24 menu-fold-button">
              <svg class="icon"><use href="#icon-down"></use></svg>
            </div>
          </div>
        </div>
        <div class="menu-wrap is-open">
          <div class="menu-button">
            <svg class="icon"><use href="#icon-hash"></use></svg>
            <span>프로젝트 메뉴</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="user-profile">
      <div class="left">
        <div class="user-avata">
          <svg class="icon">
            <use href="#icon-user"></use>
          </svg>
        </div>
        <span class="user-name">강현민</span>
      </div>
      <button class="more">
        <svg class="icon"><use href="#icon-more"></use></svg>
      </button>
    </div>
  </div>
</div>
