<style>

</style>

<div class="window-control">
  <div class="left">
    <div class="home-button" data-tooltip="홈" data-direction="bottom">
      <img src="../../../assets/image/logo.png" />
    </div>
    <div
      class="sidebar-fold-button"
      id="sidebar-fold-button"
      data-tooltip="메뉴"
      data-direction="bottom"
    >
      <svg class="icon"><use href="#icon-menu"></use></svg>
    </div>
  </div>
  <div class="right">
    <div class="window-control-button" id="window-minimize">
      <svg class="icon" style="width: 12px">
        <use href="#icon-minimize"></use>
      </svg>
    </div>
    <div class="window-control-button" id="window-maximize">
      <svg class="icon" style="width: 12px">
        <use href="#icon-maximize"></use>
      </svg>
    </div>
    <div class="window-control-button" id="window-close">
      <svg class="icon"><use href="#icon-close"></use></svg>
    </div>
  </div>
</div>
