html {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #393939;
  text-align: center;
  padding: 0;
  margin: 0;
}

#titlebar {
  height: 42px;
  background: #fff;
  color: #393939;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #eee;
  -webkit-app-region: drag;
}

.app-name {
  display: flex;
  margin-left: 12px;
  align-items: center;
  gap: 8px;
  font-family: 'montserrat';
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.4px;
}

.app-name img {
  width: 24px;
}

.app-name .badge {
  display: flex;
  padding: 2px 6px;
  font-size: 10px;
  letter-spacing: 0;
  background: rgba(0,0,0,0.1);
  border-radius: 50px;
  color: #777;
  margin-left: -4px;
}

#window-controls {
  display: flex;
  -webkit-app-region: no-drag;
}

#window-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 42px;
  border: none;
  background: transparent;
  transition: background 0.15s ease;
}

#window-controls button img {
  width: 10px;
  transition: filter 0.15s ease;
}

#window-controls button:hover {
  background: rgba(0,0,0,0.1);
}

#window-controls button:active {
  background: rgba(0,0,0,0.1);
}

#window-controls .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 42px;
  border: none;
  background: transparent;
  transition: background 0.1s ease;
}

#window-controls .close-btn:hover {
  background: #FF0000;
}

#window-controls .close-btn:hover img {
  filter: invert(1);
}

#window-controls .close-btn:active {
  background: rgba(255, 0, 0, 0.6);
}


